<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
      <div class="jumbotron">
        <h1>About Me</h1>
         </div>
        <!--<img class="img-responsive" src="images/Cicqyab1.jpg">-->
        <div class="col-md-offset-3 col-md-6">
          <strong>General Interests</strong>
        <ul>
        <li>Toronto Maple Leafs</li>
        <li>Running</li>
        <li>Programming</li>
        <li>Toronto Blue Jays</li>
        </ul>
        </div>
        
   
<% include ../partials/footer.ejs %>


