<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="jumbotron">
        <h1>Contact Me</h1>
         </div>
        <!--<img class="img-responsive" src="images/Cicqyab1.jpg">-->
        <div class="col-md-offset-3 col-md-6">
          <strong>Contact Me</strong>
        <ul>
        <li><a href="https://github.com/kevinburnside?tab=repositories"> GitHub</a></li>
        <li><a href="https://ca.linkedin.com/in/kevin-burnside-82a12757?trk=prof-samename-name"> LinkedIn</a></li>
        <li><a href="mailto:kevinburnside15@hotmail.com">Email Us</a></li>
       
        </ul>
        </div>

<% include ../partials/footer.ejs %>


