<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="jumbotron">
  <h1>Welcome To My Landing Page!</h1>
  <p>Select a page to view</p>
  <p><a class="btn btn-primary btn-lg" href="/about" role="button">About</a>
  <a class="btn btn-primary btn-lg" href="/projects" role="button">Projects</a>
  <a class="btn btn-primary btn-lg" href="/services" role="button">Services</a>
  <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact</a></p>
</div>

<% include ../partials/footer.ejs %>


