<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="jumbotron">
        <h1>Projects</h1>
         </div>
        <!--<img class="img-responsive" src="images/Cicqyab1.jpg">-->
        <div class="col-md-offset-3 col-md-6">
          <strong>My Personal Projects</strong>
        <ul>
        <li>...Coming soon</li>        
        </ul>
        </div>
<% include ../partials/footer.ejs %>


