<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
     <div class="jumbotron">
        <h1>Services</h1>
         </div>
        <!--<img class="img-responsive" src="images/Cicqyab1.jpg">-->
        <div class="col-md-offset-3 col-md-6">
          <strong>Web Development</strong>
        <ul>
        <li>C#</li>
        <li>JavaScript</li>
        <li>CSS</li>
        <li>NodeJS</li>
        </ul>
        </br>
        <strong>Software Development</strong>
        <ul>
        <li>C#</li>
        <li>Java</li>
        <li>Python</li>
        <li>SQL</li>
        </ul>
        </div>
<% include ../partials/footer.ejs %>


